.carrito-main{
    width: 50rem;
}

.item-cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item-title-cart{
    align-items: initial;
}