.App {
  display: grid;
  grid-template-rows: 80px auto 10%;
  text-align: center;
  height: 100vh;
}

.stock{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 3rem;
}